:root {
    --background-color: lightgray;
    --secondary-color: lightblue;
}

.container {
    max-width: 1200px;
    margin: auto;
}

.navbar-collapse {
    margin-top: 20px;
    padding: 10px;
}

.bg-light,
.navbar-collapse {
    background-color: var(--background-color) !important;
}

@media (max-width: 600px){ 
    .bg-light,
    .navbar-collapse {
        background-color: var(--secondary-color) !important;
    }    
}

#header {
    display: flex;
    /* text-align: center; */
    justify-content: center;
    /* align-items: center; */
    width: 100%;
    margin: 0 auto; 
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    position: fixed;
    height: 130px;
    top: 0;
    background-color: var(--background-color);
    /* line-height: 130px; */
    
}

.spacer {
    width: 25%;
}

.header__img-div {
    display: flex;
    width: 25%;
    justify-content: center;
}

#nav-bar {
    display: inline-flex;
    width: 75%;
    justify-content: space-evenly;
}



#nav-bar > a,
.nav-link {
    font-size: 20px; 
    text-decoration: none; 
    color: maroon; 
    font-weight: 600;
}


h1 {
    margin-top: 100px;
    padding-top: 100px;
    line-height: 1.5em;
    text-align: center;
}

h2 {
    margin-top: 50px;
    padding-top: 50px;
    line-height: 1.5em;
    text-align: center;
}

#header-img {
    height: 90px;
    margin-top: 20px;
}

.nav-link {
    display: inline-block;  
}

@media (max-width: 600px){ 
    #header {
        background-color: var(--secondary-color);
    }    
}

.video {
    text-align: center;
}

iframe {
    border: 0;
}


.d-block {
    display: block;
    margin: 50px auto;
    width: 200px;
    height: auto;
}

@media (min-width: 780px) {
    .d-block {
        display: block;
        margin: 50px auto;
        width: 600px;
        height: auto;
    }
    
}

@media (min-width: 1200px) {
    .d-block {
        display: block;
        margin: 50px auto;
        width: 980px;
        height: auto;
    }
    
}

.carousel-control-next,
.carousel-control-prev {
    width: 60px;
    filter: invert(100%);
}

.carousel-caption {
    background-color: var(--background-color);
    opacity: 0.8;
    color: maroon;
}